@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.form{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: aqua;
}

.form form{
    width: 40%;
    margin: auto;
    background-color: darkblue;
    color: white;
    padding: 30px;
}

.form form input{
    width: 100%;
    padding: 15px 5px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.2rem;
    border-bottom: 2px solid aqua;
    color: aqua;
    margin: 20px 0px;
}

.form form input::placeholder{
    color: aqua;
}

.form form button{
    background-color: transparent;
    outline: none;
    border: 2px solid aqua;
    padding: 10px 33px;
    border-radius: 50px;
    color: white;
    font-size: 1rem;
    transition: 0.3s ease;
    cursor: pointer;
}

.form form button:hover{
    background-color: aqua;
    color: black;
}

/* end of form */

.navbar{
    width: 100%;
    padding: 15px 150px;
    background-color: purple;
    position: fixed;
    top: 0;
    left: 0;
}

.navbar nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo{
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

.nav-ul ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.nav-ul ul li .nav-link{
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    transition: 0.3s ease;
}

.nav-ul ul li button{
    background-color: green;
    color: white;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
}

.nav-ul ul li .nav-link:hover{
    color: gold;
}





.card-data{
    width: 80%;
    margin: 68px auto 0 auto;
    padding: 30px 0px;
}

.storage{
    margin: 10px 0px;
    border: 2px solid black;
    padding: 10px;
}
/* end of card */



.singledata{
    width: 80%;
    margin: 68px auto 0 auto;
    padding: 145px 0px;
    background-color: lightgray;
    color: red;
    text-align: center;
}
/* end of singledata */


footer{
    width: 100%;
    background-color: black;
    color: white;
}
footer .footer{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    padding: 20px 0px;

}
/* end of footer */


.create-data{
    width: 60%;
    margin: 50px auto;
}

.create-data form{
    text-align: center;
}

.create-data form input{
    width: 100%;
    padding: 15px 5px;
    background-color: lightgray;
    border: none;
    outline: none;
    margin-bottom: 15px;
}

.create-data form h3{
    margin-bottom: 20px;
    font-size: 2rem;
}

.create-data form button{
    border: none;
    outline: none;
    background-color: darkgreen;
    transition: 0.3s ease;
    padding: 10px 30px;
    border-radius: 50px;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
    margin: auto;
}


.create-data form button:hover{
    background-color: green;
}
/* end of create-data */




.admin{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 30px 0px;
}

.admin h2{
    margin-bottom: 15px;
}

.admin table{
    width: 100%;
}

tr td{
    text-align: center;
}

tr td button{
    background-color: red;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    margin: 7px 5px;
    cursor: pointer;
}

tr td .Edit{
    background-color: green;
}
/* end of admin */




.model{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background-color: blueviolet;
    color: white;
    padding: 40px;
    border-radius: 10px;
}

.model h4{
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.model button{
    background-color: red;
    color: white;
    border: none;
    outline: none;
    padding: 10px 15px;
    margin: 0px 5px;
    font-size: 1rem;
    cursor: pointer;
}
/* end of model */